---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A software engineer with the heart of an educator. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Wake Forest University, BS in Mass Communication"
      subtitle="1998 to 2002 in Winston-Salem, NC"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Developer Advocate at Zoom"
      subtitle="From July 2022 to Oct 2024"
    >
    <ul class="list-disc ml-10">
      <li>Streamlined developer outreach around platform changes by implementing a communication strategy that alerted
        third-party developers of changes through a variety of channels</li>
      <li>
        Implemented and led the Zoom Developers Open Hours monthly meeting where developers could ask questions and
        get support from developer advocates
      </li>
      <li>After getting feedback from the developer community, I led an initiative to create the Zoom Meeting SDK for React
        Native. This led to Zoom retaining over 200k MRR from affected customers.
      </li>
      <li>
        Published the monthly Zoom developer newsletter and developer release emails, which went out to an audience of
        over 100k developers.
      </li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Developer Advocate at Lob"
      subtitle="From Oct 2021 to July 2022"
    >
    <p>I was tasked with creating compelling developer content for third-party developers using the Lob APIs. To this end, I
    created the following pieces explaining everything from how to create your own Github Action to how to create
    print-ready PDFs.</p>
    <ul class="list-disc ml-10">
      <li><a class="underline" href="https://www.lob.com/blog/nick-fury-comes-to-the-console-via-github-actions">Nick Fury Comes to the Console via Github Actions</a></li>
      <li><a class="underline" href="https://www.lob.com/blog/using-lob-api-with-csharp-and-flurl">Using Lob with C# and Flurl</a></li>
      <li><a class="underline" href="https://www.lob.com/blog/migrating-from-angular-to-vue-a-dashboards-story">From Angular to Vue: Migrating a Dashboard</a></li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Lead Developer at TiHealth"
      subtitle="From Jan 2019 to Oct 2021"
    >
    <ul class="list-disc ml-10">
      <li>I created an internal marketing operation tool which would tag specific OLCs for targeting using Vue and Google Maps
        APIs. With this tool, the ad operation team created unique shapes along landmarks and other points of interest.</li>
      <li>
        Developed a reporting pipeline that delivered ad-hoc and scheduled reports on ad campaigns that allowed marketing
        operations to give timely feedback to clients.
      </li>
      <li>When Xandr's Kinesis integration was discontinued, I created a replacement system that allowed marketing
        operations to continue to make on-the-fly changes to campaigns based on the most recent data.
      </li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Lead Developer at Nexleaf Analytics"
      subtitle="From Aug 2016 to Jan 2019"
    >
    <ul class="list-disc ml-10">
      <li>
        Conducted user research to understand requirements for an overhaul on the application's main dashboard
      </li>
      <li>
        Implemented event system that tracked temperature data to help customers measure the performance of vaccine
        refrigerators in their care
      </li>
      <li>Trained non-technical users (both international and local) on the product's capabilities.
      </li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Lead Developer at Virginia Commonwealth University Libraries"
      subtitle="From Aug 2012 to Jan 2016"
    >
    <ul class="list-disc ml-10">
      <li>
        Transitioned the organization to use git as a CVS and set up auto-deploy solutions to production machines.      </li>
      <li>
        Initiated and developed several digital humanities projects that promoted little-known library assets. This resulted in
        increased visibility and press for the library.
      </li>
      <li>
        Oversaw development of a new study roomreservation system used by the library that resulted in increased
        satisfaction from the student body.
      </li>
    </ul>
    </TimeLineElement>

  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Golang</li>
    <li>C++</li>
    <li>Javascript</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Typescript</li>
    <li>Docker</li>
    <li>Traefik</li>
    <li>Django</li>
    <li>Kubernetes</li>
  </ul>
</BaseLayout>
