---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A software engineer with the heart of an educator. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><strong>Backend Development</strong> Proficient in building scalable and maintainable backend systems using Python, PHP, Go, and JavaScript.
    </li>
    <li>
      <strong>Cloud Computing</strong> Experienced with cloud platforms such as AWS (Amazon Web Services) and GCP (Google Cloud Platform), including experience with services like EC2, S3, and Lambda.
    </li>
    <li>
      <strong>Docker</strong> Skilled in containerization using Docker and Kubernetes, with experience in deploying and managing containers for production environments.
    </li>
    <li>
      <strong>DevOps</strong> Familiarity with DevOps practices and tools, including continuous integration/continuous deployment (CI/CD) pipelines and version control systems like Git.

    </li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Wake Forest University, BS in Mass Communication"
      subtitle="1998 to 2002 in Winston-Salem, NC"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Developer Advocate at Zoom"
    >
      <p>Led an initiative to create the Zoom Meeting SDK for React Native, demonstrating expertise in building software platforms and communicating with external teams.
      </p>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Lead Developer at TiHealth"
    >
    <p>Developed and maintained an ad reporting system that aggregated millions of records in Python using AWS Kinesis and Redshift. </p>
    
    </TimeLineElement>
    <TimeLineElement
      title="Lead Developer at Nexleaf Analytics"
    >
      <p>Developed and maintained large-scale backend systems using Python, and JavaScript, ensuring high performance and reliability.
      </p>
    
    </TimeLineElement>
    
   
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

</BaseLayout>
