---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Shariq Torres</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Developer Advocate</div>
    <div class="py-2">
      <text class="text-lg">
        This is my home on the Internet. I'm into building cool things on the web and you can check out some
        of my projects here. You can also read my thoughts on my devblog. 
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
     
    </div> -->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My techincal writings &#9997;</div>
  </div>

  <HorizontalCard
    title="From Angular to Vue: Migrating a Dashboard"
    img="/homepage/migration-to-vue.png"
    desc="Planning is key when migrating a customer-facing dashboard from Angular to Vue. Read about how Lob did it."
    url="https://www.lob.com/blog/migrating-from-angular-to-vue-a-dashboards-story"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nick Fury Comes to the Console via Github Actions"
    img="/homepage/sam-jackson-action.png"
    desc="Learn how to build custom Github Actions by appending Sam Jackson quotes to your console messages using GitHub Actions."
    url="https://www.lob.com/blog/nick-fury-comes-to-the-console-via-github-actions"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Using Lob with C# and Flurl"
    img="/homepage/csharp.png"
    desc="Learn how to interact with the Lob API using C# and Flurl."
    url="https://www.lob.com/blog/using-lob-api-with-csharp-and-flurl"
  />

  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/homepage/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
