---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>
  <HorizontalCard
    title="SSL DateChecker"
    img="/homepage/pypi-logo.svg"
    desc="This library checks the exipiration date of SSL Certificates."
    url="https://pypi.org/project/ssldatechecker/"
    badge="Python"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Out-Of-Sight"
    img="/homepage/jsr-square.svg"
    desc="This library will hide encrypted messages in text via stenography. Messages are meant to be encrypted with RSA public/private keypairs, but you can swap that out with other asymmetric protocols as you see fit."
    url="https://jsr.io/@reese-codes/out-of-sight"
    badge="JSR"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="OpenSDK Specification"
    img="/homepage/GitHub-logo.png"
    desc="OpenSDK was created to address a problem that I have seen in companies that offer SDKs in multiple languages. Different teams managed the different language implementations and as a result there were no common naming conventions or even parity between function arguments for different implementations."
    url="https://github.com/ShariqT/opensdk-spec"
    badge="Developer Tools"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Crystal DevContainer"
    img="/homepage/GitHub-logo.png"
    desc="Allows someone to use Crystal in a devcontainer for VS Code. Environment also comes with Node and Python3.9 installed."
    url="https://github.com/ShariqT/crystal-devcontainer"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div> -->

  <!-- <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
